<!DOCTYPE html>
<html>
    <%- include('layouts/head.ejs', { data }) %>
    <body>
        <%- include('layouts/header.ejs', { data }) %>
        <%- include('partials/main.ejs', { data }) %>
        <%- include('layouts/footer.ejs', { data }) %>
        <%- include('scripts/deriv-oauth.ejs', { data }) %>
    </body>
</html>